<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
            id="menu_root"
            name="gyomu"
    />

    <menuitem
            id="gyo_menu"
            name="gyomu"
            parent="gyo.menu_root"
            sequence="10"
    />

    <menuitem
            id="gyo_menu_action"
            name="gyomu"
            parent="gyo.gyo_menu"
            sequence="10"
            action="gyo.gyo_action"
    />

    <menuitem
            id="gyo_komoku_menu"
            name="gyo_komoku"
            parent="gyo.menu_root"
            sequence="20"
    />

    <menuitem
            id="gyo_komoku_menu_action"
            name="gyo_komoku"
            parent="gyo.gyo_menu"
            sequence="30"
            action="gyo.gyo_komoku_action"
    />

</odoo>
